@CHARSET "UTF-8";

table {
	width: 1200px;
	margin: auto;
	height: auto;
	margin-top: 120px;
	background: white;
}

.name {
	font-size: 24px;
	color: green;
	font-weight: bolder;
	font-style: oblique;
}

.content {
	font-size: 18px;
	font-style: italic;
	color: gray;
	padding: 12px 88px 12px 200px;
}

.ftl {
	float: left;
}

li {
	list-style-type: none;
	padding: 6px;
	font-family: fantasy;
}

.title {
	text-align: center;
	font-size: 32px;
	color: maroon;
	font-weight: bold;
	font-style: oblique;
	padding: 8px 240px 10px 240px;
}

.label {
	font-size: 16px;
	font-family: fantasy;
	font-style: normal;
	color: navy;
	margin-left: 60px;
}

.label li {
	display: inline-block;
	margin: 0 6px;
}

.contenImage {
	height: 380px;
	width: 680px;
	margin: auto;
	margin-top: 24px;
	margin-left: 80px;
}

.observer {
	padding-top: 80px;
	padding-left: 142px;
}

.obser {
	display: table;
	margin: 18px 0;
}

.obicon {
	width: 80px;
	height: 80px;
}

.comTitle {
	font-size: 28px;
	text-align: center;
}

.obname {
	font-style: inherit;
	padding-left: 12px;
	color: fuchsia;
}

.comment {
	margin: 12px 0 12px 24px;
	padding: 20px;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	font-family: monospace;
	color: purple;
	font-size: 16px;
}