* {
	margin: 0px;
	padding: 0px;
}

.space {
	height: 80px;
}

.height {
	height: 250px;
}

h1 {
	font-size: 30px;
	font-style: inherit;
	color: maroon;
	text-align: center;
	margin-top: 20px;
}

.height1 {
	height: 220px;
}

.form {
	border: solid 1px #d1d1d1;
	margin: auto;
	width: 1200px;
}

input {
	border: solid 1px gray;
	height: 25px;
	width: 240px;
}

p {
	text-align: right;
	width: 300px;
	margin-top: 24px;
	margin-bottom: 24px;
	display: inline-table;
}

span {
	color: red;
}

.head {
	margin: 0px;
	background-color: #f7f7f7;
	width: 1190px;
	text-align: left;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 5px;
}

.select-p {
	display: inline-block;
}

.text {
	text-align: right;
}

.check {
	width: auto;
	line-height: 20px;
	margin-left: 5px;
}

.loginBtn {
	width: 150px;
	height: 30px;
	margin-top: 20px;
	line-height: 30px;
	margin-bottom: 20px;
	margin-left: 330px;
	outline: none;
	color: white;
	background-color: #e82a1e;
}

.input1 {
	background: url("img/637.png") no-repeat 176px;
}

.input2 {
	background: url("img/646.png") no-repeat 176px;
}

.input3 {
	background: url("img/646.png") no-repeat 176px;
}