@CHARSET "UTF-8";

h1 {
	font-size: 30px;
	font-style: inherit;
	color: maroon;
	text-align: center;
	margin-top: 20px;
}

table {
	width: 1600px;
	margin: auto;
	text-align: center;
	background-color: gray;
	font-size: 14px;
}

td {
	background-color: white;
	padding: 12px 0;
}

.progress {
	font-size: 18px;
	height: 180px;
}

.tdwidth {
	width: 150px;
}